.storyScreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 3vh 0 8vh;
  background: radial-gradient(
    circle,
    var(--primary) 0%,
    var(--tertiary) 45%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
}

.storyScreen-img {
  width: 500px;
  height: 500px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  border: 1px solid var(--secondary);
  margin-bottom: 1vh;
  animation: storyScreen-img-load 600ms ease-in;
}

@keyframes storyScreen-img-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .storyScreen-img {
    max-width: 95vw;
  }
}

.storyScreen-title {
  margin: 0 1vw 2vh;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px var(--sub);
  animation: storyScreen-title-load 800ms ease-in;
}

@keyframes storyScreen-title-load {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.storyScreen-mainContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 1024px;
  max-width: 90vw;
  padding-bottom: 1vh;
  margin: auto;
  font-size: 1.1rem;
}

.storyScreen-introTextBtn {
  width: 34px;
  height: 33px;
  border: 1px solid var(--secondary);
  margin-bottom: 1.25rem;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  cursor: pointer;
  transition: 0.5s;
  animation: storyScreen-btn-load 1.5s ease-in-out;
}

.storyScreen-introTextBtn:hover {
  transform: rotate(180deg);
  scale: 0.9;
  border: 1px solid var(--sub);
  color: var(--sub);
  transition: 0.5s;
}

.storyScreen-introTextBtn:active {
  scale: 0.8;
}

.storyScreen-introText {
  z-index: 1;
  width: 700px;
  max-width: 80vw;
  padding-top: 0;
  background: linear-gradient(
    90deg,
    var(--tertiary) 0%,
    var(--additional) 50%,
    var(--tertiary) 100%
  );
  color: var(--secondary);
  font-size: 1rem;
  white-space: pre-line;
  animation: storyScreen-introText-load 700ms ease-in-out;
}

@keyframes storyScreen-introText-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.storyScreen-introText::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.storyScreen-xBtn {
  position: relative;
  left: 50.5%;
  opacity: 0.5;
  border: none;
  background: transparent;
  color: var(--sub);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.storyScreen-xBtn:hover {
  opacity: 1;
}

.storyScreen-xBtn:active {
  scale: 0.9;
}

.storyScreen-introTextLink {
  color: var(--sub);
}

.storyScreen-closeBtn {
  padding: 1px 10px 4px;
  border: 1px solid var(--secondary);
  margin: 0.5rem auto 0.75rem;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.storyScreen-closeBtn:hover {
  border: 1px solid var(--sub);
  color: var(--sub);
  transition: 0.5s;
}

.storyScreen-closeBtn:active {
  scale: 0.9;
}

.storyScreen-mainBtn {
  width: 150px;
  height: 50px;
  border: 1px solid var(--secondary);
  margin-bottom: 1.25rem;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  animation: storyScreen-btn-load 1.5s ease-in-out;
}

.storyScreen-mainBtn:hover {
  scale: 0.9;
  border: 1px solid var(--sub);
  color: var(--sub);
  transition: 0.5s;
}

.storyScreen-mainBtn:active {
  scale: 0.8;
  transition: 0.5s;
}

.storyScreen-mainBtnActive {
  scale: 0.9;
  border: 1px solid var(--sub);
  color: var(--sub);
  transition: 0.5s;
}

.storyScreen-text {
  padding: 10px 10px 15px;
  border: 1px solid var(--sub);
  margin: 0 auto 1.25rem;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
  text-shadow: 3px 3px var(--primary);
  white-space: pre-line;
  animation: storyScreen-text-load 1s ease-in-out;
}

@keyframes storyScreen-text-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.storyScreen-resetBtn {
  rotate: -90deg;
  width: 34px;
  height: 34px;
  border: 1px solid var(--secondary);
  margin-bottom: 1.25rem;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.storyScreen-resetBtn:hover {
  border: 1px solid var(--sub);
  color: var(--sub);
  transition: 0.5s;
}

.storyScreen-startScreenLink {
  padding: 3px 9px 4px;
  border: 1px solid var(--secondary);
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  text-decoration: none;
  transition: 0.5s;
  animation: storyScreen-btn-load 1.5s ease-in-out;
}

@keyframes storyScreen-btn-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.storyScreen-startScreenLink:hover {
  border: 1px solid var(--sub);
  color: var(--sub);
  transition: 0.5s;
}
