.menuModal-container--prologue {
  background: linear-gradient(
    0deg,
    var(--prologuePrimary) 0%,
    var(--prologueSecondary) 50%,
    var(--prologuePrimary) 100%
  );
  color: var(--prologueTertiary);
  width: 300px;
  max-width: 80vw;
  height: 350px;
  max-height: 80vh;
  margin-top: 30vh;
  padding-top: 1vh;
  text-align: center;
  animation: menuModal-containerLoad 500ms ease-in-out;
}

@keyframes menuModal-containerLoad {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-height: 700px) {
  .menuModal-container--prologue {
    margin-top: 10px;
  }
}

.menuModal-container--prologue::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.menuModal-title--prologue {
  text-shadow: 3px 3px 3px var(--prologueSub);
}

.menuModal-nav--prologue {
  display: flex;
  flex-flow: column nowrap;
}

.menuModal-closeBtn--prologue {
  background-color: var(--prologuePrimary);
  color: var(--prologueTertiary);
  width: 200px;
  max-width: 85vw;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.5rem;
  margin: 10px auto;
  padding: 3px 0 6px;
  text-decoration: none;
  border: 1px solid var(--prologueTertiary);
  cursor: pointer;
  transition: 0.5s;
}

.menuModal-closeBtn--prologue:hover {
  background-color: var(--prologueTertiary);
  color: var(--prologuePrimary);
  border: 1px solid var(--prologuePrimary);
  transition: 0.5s;
}
