.menuModal-container--prologue {
  background-color: var(--prologuePrimary);
  color: var(--prologueTertiary);
  width: 300px;
  max-width: 80vw;
  height: 350px;
  max-height: 80vh;
  margin-top: 30vh;
  padding-top: 1vh;
  text-align: center;
}

@media (max-height: 700px) {
  .menuModal-container--prologue {
    margin-top: 10px;
  }
}

.menuModal-container--prologue::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.menuModal-nav--prologue {
  display: flex;
  flex-flow: column nowrap;
}

.menuModal-closeBtn--prologue {
  background-color: var(--prologuePrimary);
  color: var(--prologueTertiary);
  width: 200px;
  max-width: 85vw;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.5rem;
  margin: 10px auto;
  padding: 3px 0 6px;
  text-decoration: none;
  border: 1px solid var(--prologueTertiary);
  cursor: pointer;
}
