.gameComponent-container--prologue {
  background: linear-gradient(
    0deg,
    var(--prologueSub) 0%,
    var(--prologuePrimary) 50%,
    var(--prologueSecondary) 100%
  );
  color: var(--prologueTertiary);
  white-space: pre-line;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.gameComponent-menuBtn--prologue {
  background-color: var(--prologueAdditional);
  color: var(--prologueSub);
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 3px;
  padding: 1px 7px 3px;
  border: 1px solid var(--prologueSub);
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 992px) {
  .gameComponent-menuBtn--prologue {
    top: 1px;
    left: 5%;
  }
}

.gameComponent-menuBtn--prologue:hover {
  opacity: 1;
}

.gameComponent-menuBtn--prologue:active {
  scale: 0.9;
}

.gameComponent-mainImage--prologue {
  width: 1024px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 1px solid var(--prologueAdditional);
}

.gameComponent-mainContent--prologue {
  width: 1024px;
  max-width: 90vw;
  margin-bottom: 1rem;
  border: 1px solid var(--prologueAdditional);
}

.gameComponent-characterImage--prologue {
  width: 200px;
  max-width: 90vw;
  float: left;
  margin-right: 1rem;
  border-right: 1px solid var(--prologueAdditional);
  border-bottom: 1px solid var(--prologueAdditional);
}

@media (max-width: 600px) {
  .gameComponent-characterImage--prologue {
    max-width: 35vw;
  }
}

.gameComponent-text--prologue {
  padding: 0 1.5rem;
}

.gameComponent-buttons--prologue {
  background: linear-gradient(
    0deg,
    var(--prologueSub) 0%,
    var(--prologuePrimary) 50%,
    var(--prologueSub) 100%
  );
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 900px;
  max-width: 90vw;
  margin-bottom: 1rem;
  padding: 1vh 0;
  border: 1px solid var(--prologueAdditional);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
  }

  &::before {
    width: calc(100% + 9px);
    max-width: 95vw;
    top: -7px;
    left: -5px;
    border-top: 1px solid var(--prologueAdditional);
    border-right: 1px solid var(--prologueAdditional);
    border-left: 1px solid var(--prologueAdditional);
  }

  &::after {
    width: calc(100% + 9px);
    max-width: 95vw;
    right: -5px;
    bottom: -6px;
    border-bottom: 1px solid var(--prologueAdditional);
    border-right: 1px solid var(--prologueAdditional);
    border-left: 1px solid var(--prologueAdditional);
  }
}

.gameComponent-btn--prologue {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  background-color: var(--prologuePrimary);
  color: var(--prologueTertiary);
  width: 200px;
  max-width: 90vw;
  height: 50px;
  margin: 0.75rem;
  padding-bottom: 5px;
  border: 1px solid var(--prologueTertiary);
  cursor: pointer;
}
