.gameComponent-container--prologue {
  background: linear-gradient(
    0deg,
    var(--prologueSub) 0%,
    var(--prologuePrimary) 50%,
    var(--prologueSecondary) 100%
  );
  color: var(--prologueTertiary);
  white-space: pre-line;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.gameComponent-menuBtn--prologue {
  position: absolute;
  top: 1%;
  right: 1%;
  opacity: 0.5;
  cursor: pointer;
}

.gameComponent-menuBtn--prologue:hover {
  opacity: 1;
}

.gameComponent-mainImage--prologue {
  width: 1024px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 1px solid var(--prologueAdditional);
}

.gameComponent-mainContent--prologue {
  width: 1024px;
  max-width: 90vw;
  margin-bottom: 1rem;
  border: 1px solid var(--prologueAdditional);
}

.gameComponent-characterImage--prologue {
  width: 200px;
  max-width: 90vw;
  float: left;
  margin-right: 1rem;
  border-right: 1px solid var(--prologueAdditional);
  border-bottom: 1px solid var(--prologueAdditional);
}

@media (max-width: 600px) {
  .gameComponent-characterImage--prologue {
    max-width: 35vw;
  }
}

.gameComponent-text--prologue {
  padding: 0 1.5rem;
}

.gameComponent-buttons--prologue {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1024px;
  max-width: 90vw;
  margin-bottom: 1rem;
  padding: 1vh 0;
  border: 1px solid var(--prologueAdditional);
}

.gameComponent-btn--prologue {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  background-color: var(--prologuePrimary);
  color: var(--prologueTertiary);
  width: 200px;
  max-width: 90vw;
  height: 50px;
  margin: 0.75rem;
  padding-bottom: 5px;
  border: 1px solid var(--prologueTertiary);
  cursor: pointer;
}
