.startScreen-section {
  text-align: center;
  background: radial-gradient(
    circle,
    var(--startScreen-section--primary) 0%,
    var(--startScreen-section--tertiary) 45%,
    var(--startScreen-section--primary) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 5vh 0 1vh;
}

.startScreen-section-slides {
  height: 500px;
  width: 500px;
  max-width: 80vw;
  max-height: 50vh;
  overflow: hidden;
  position: relative;
  margin: auto;
  border: 1px solid var(--startScreen-section--secondary);
  animation: startScreen-section-slides-load 500ms ease-in;
}

.startScreen-section-slides-slide {
  animation: startScreen-section-slides-slide-switch 30s linear infinite;
  background-size: cover;
  background-position: 50%;
  inset: 0;
  opacity: 0;
  position: absolute;
  scale: 1.1;
}

.startScreen-section-slides-slide:nth-child(1) {
  background-image: url("../../assets/images/start_screen_image_01.jpg");
}

.startScreen-section-slides-slide:nth-child(2) {
  animation-delay: 10s;
  background-image: url("../../assets/images/start_screen_image_02.jpg");
}

.startScreen-section-slides-slide:nth-child(3) {
  animation-delay: 20s;
  background-image: url("../../assets/images/start_screen_image_03.jpg");
}

.startScreen-section-title {
  color: var(--startScreen-section--secondary);
  text-shadow: 1px 1px var(--startScreen-section--sub);
  animation: startScreen-section-title-load 300ms ease-in 600ms;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.startScreen-section-title,
.startScreen-section-subTitle,
.startScreen-section-closingTitle {
  font-family: "Tektur", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 3vh auto 0;
  width: fit-content;
}

.startScreen-section-subTitle,
.startScreen-section-closingTitle {
  color: var(--startScreen-section--sub);
  text-shadow: 1px 1px var(--startScreen-section--secondary);
  margin-top: 1vh;
  position: relative;
}

.startScreen-section-subTitle {
  animation: startScreen-section-subTitle-load 500ms ease-in 600ms;
  animation-fill-mode: forwards;
  transform: translateX(-1000%);
  opacity: 0;
}

.startScreen-section-buttons {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;
}

.startScreen-section-buttons-btn {
  position: relative;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 2rem;
  color: var(--startScreen-section--secondary);
  background: linear-gradient(
    90deg,
    var(--storyScreen-section--primary) 0%,
    var(--storyScreen-section--tertiary) 50%,
    var(--storyScreen-section--primary) 100%
  );
  text-decoration: none;
  border: 1px solid var(--startScreen-section--secondary);
  margin: 10px auto;
  width: 150px;
  height: 50px;
  transition: 0.3s ease-in-out;
  animation: startScreen-section-buttons-btn-load 500ms ease-in 900ms;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in-out;
  }

  &::before {
    top: -5px;
    left: -5px;
    border-top: 1px solid var(--startScreen-section--secondary);
    border-left: 1px solid var(--startScreen-section--secondary);
  }

  &::after {
    right: -5px;
    bottom: -5px;
    border-bottom: 1px solid var(--startScreen-section--secondary);
    border-right: 1px solid var(--startScreen-section--secondary);
  }

  &:hover::before,
  &:hover::after {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
  }
}

.startScreen-section-buttons-btn:hover {
  color: var(--startScreen-section--sub);
  border: 1px solid var(--startScreen-section--sub);
  transition: 0.3s ease-in-out;
}

.startScreen-section-buttons-btn:active {
  scale: 0.9;
}

.startScreen-section-closingTitle {
  position: relative;
  right: 7.25rem;
  animation: startScreen-section-closingTitle-load 500ms ease-in 600ms;
  animation-fill-mode: forwards;
  transform: translateX(1000%);
  opacity: 0;
}

/* Animations */
@keyframes startScreen-section-slides-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes startScreen-section-title-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes startScreen-section-subTitle-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes startScreen-section-closingTitle-load {
  0% {
    transform: translateX(1000%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes startScreen-section-buttons-btn-load {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes startScreen-section-slides-slide-switch {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
    scale: 1;
  }

  60% {
    opacity: 0;
  }
}
