.aboutScreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 1vh 2vw 0;
  background: radial-gradient(
    circle,
    var(--primary) 0%,
    var(--tertiary) 45%,
    var(--primary) 100%
  );
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
}

@media (max-width: 400px) {
  .aboutScreen-container {
    padding: 2vh 2vw 0;
  }
}

.aboutScreen-title {
  color: var(--secondary);
  text-shadow: 1px 1px var(--sub);
}

.aboutScreen-title,
.aboutScreen-subTitle {
  margin: 1vh 0 auto;
  font-family: "Tektur", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  animation: aboutScreen-title-load 0.5s ease-in-out;
}

@keyframes aboutScreen-title-load {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .aboutScreen-title,
  .aboutScreen-subTitle {
    margin: auto;
    font-size: 2rem;
  }
}

.aboutScreen-subTitle {
  color: var(--sub);
  text-shadow: 1px 1px var(--secondary);
}

.aboutScreen-img {
  width: 500px;
  height: 500px;
  max-width: 90vw;
  max-height: 40vh;
  border: 1px solid var(--sub);
  margin-top: 2rem;
  animation: aboutScreen-img-load 0.5s ease-in-out;
}

@keyframes aboutScreen-img-load {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

.aboutScreen-additionalTitle {
  color: var(--secondary);
  font-size: 2rem;
  text-shadow: 2px 2px var(--primary);
  animation: aboutScreen-additionalTitle-load 0.5s ease-in-out;
}

@keyframes aboutScreen-additionalTitle-load {
  0% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .aboutScreen-additionalTitle {
    font-size: 1.75rem;
  }
}

.aboutScreen-mainContent {
  width: 500px;
  max-width: 95vw;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  border-top: 1px solid var(--sub);
  border-bottom: 1px solid var(--sub);
  margin: auto;
  color: var(--secondary);
  font-size: 1.5rem;
  animation: aboutScreen-mainContent-load 1.5s linear;
}

@keyframes aboutScreen-mainContent-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.aboutScreen-links {
  width: 300px;
  max-width: 80vw;
  text-align: start;
  margin: 1rem auto 3rem;
  list-style-type: square;
}

.aboutScreen-link {
  margin: 0.25rem auto;
  color: var(--sub);
  text-decoration: none;
}

.aboutScreen-link:hover {
  text-decoration: underline;
}

.aboutScreen-startScreenLink {
  padding: 5px 10px 7px;
  border: 1px solid var(--secondary);
  margin: 0.25rem auto;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  text-decoration: none;
  transition: 0.5s;
}

.aboutScreen-startScreenLink:hover {
  border: 1px solid var(--sub);
  color: var(--sub);
}

.aboutScreen-infoTitle {
  margin: 1rem 0;
  font-size: 1.75rem;
  text-shadow: 2px 2px var(--tertiary);
}

.aboutScreen-footer {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem auto;
  font-weight: bold;
}

.aboutScreen-versionInfo {
  margin-top: 0.5rem;
  color: var(--secondary);
}
