.aboutScreen-section {
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
  background: radial-gradient(
    circle,
    var(--aboutScreen-section--primary) 0%,
    var(--aboutScreen-section--tertiary) 45%,
    var(--aboutScreen-section--primary) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 10vh 2vw 0;
}

.aboutScreen-section-title {
  color: var(--aboutScreen-section--secondary);
  text-shadow: 1px 1px var(--aboutScreen-section--sub);
}

.aboutScreen-section-title,
.aboutScreen-section-subTitle {
  font-family: "Tektur", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 1vh 0 auto;
}

.aboutScreen-section-subTitle {
  color: var(--aboutScreen-section--sub);
  text-shadow: 1px 1px var(--aboutScreen-section--secondary);
}

.aboutScreen-section-additionalTitle {
  font-size: 2rem;
  color: var(--aboutScreen-section--secondary);
}

.aboutScreen-section-article {
  font-size: 1.5rem;
  color: var(--aboutScreen-section--secondary);
  border-top: 1px solid var(--aboutScreen-section--sub);
  border-bottom: 1px solid var(--aboutScreen-section--sub);
  width: fit-content;
  margin: auto;
  padding-bottom: 2.5rem;
}

.aboutScreen-section-article-link {
  color: var(--aboutScreen-section--sub);
}
