.aboutScreen-section {
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--aboutScreen-section--primary) 0%,
    var(--aboutScreen-section--secondary) 50%,
    var(--aboutScreen-section--primary) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 10vh 0 0;
}

.aboutScreen-section-title {
  color: var(--aboutScreen-section--tertiary);
  text-shadow: 2px 2px var(--aboutScreen-section--additional);
}

.aboutScreen-section-title,
.aboutScreen-section-subTitle {
  font-family: "Tektur", cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.aboutScreen-section-subTitle {
  color: var(--aboutScreen-section--additional);
  text-shadow: 2px 2px var(--aboutScreen-section--tertiary);
}

.aboutScreen-section-additionalTitle {
  font-size: 2rem;
  color: var(--aboutScreen-section--tertiary);
}

.aboutScreen-section-article {
  font-size: 1.5rem;
  color: var(--aboutScreen-section--tertiary);
  border-top: 5px solid var(--aboutScreen-section--sub);
  border-bottom: 5px solid var(--aboutScreen-section--sub);
  width: fit-content;
  margin: auto;
  padding-bottom: 2.5rem;
}

.aboutScreen-section-article-link {
  color: var(--aboutScreen-section--additional);
}
