.creditsScreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  background: linear-gradient(
    0deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
}

.creditsScreen-title {
  margin-bottom: 1rem;
  color: var(--secondary);
  font-family: "Tektur", cursive;
  font-size: 2rem;
  text-shadow: 2px 2px var(--primary);
}

.creditsScreen-text {
  width: 500px;
  max-width: 95vw;
  margin: 1rem auto;
  color: var(--secondary);
}

.creditsScreen-btn {
  width: 150px;
  max-width: 90vw;
  padding: 5px 5px 7px;
  border: 1px solid var(--secondary);
  margin: 1rem auto;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.creditsScreen-btn:hover {
  scale: 0.9;
  border: 1px solid var(--sub);
  color: var(--sub);
}

.creditsScreen-btn:active {
  scale: 0.8;
}

.creditsScreen-article {
  display: flex;
  flex-flow: column nowrap;
  animation: creditsScreen-article-load 1.5s ease-in;
}

@keyframes creditsScreen-article-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.creditsScreen-subTitle {
  color: var(--secondary);
  text-shadow: 2px 2px var(--primary);
}

.creditsScreen-images {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.creditsScreen-img {
  width: 200px;
  max-width: 35vw;
  border: 1px solid var(--sub);
  margin: 5px;
}

.creditsScreen-startScreenLink {
  width: 200px;
  max-width: 90vw;
  padding: 5px 15px 6px;
  border: 1px solid var(--secondary);
  margin: 2rem auto 1rem;
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--tertiary) 50%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.creditsScreen-startScreenLink:hover {
  border: 1px solid var(--sub);
  color: var(--sub);
}

.creditsScreen-footer {
  animation: creditsScreen-footer-load 500ms ease-in;
}

@keyframes creditsScreen-footer-load {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.creditsScreen-link {
  color: var(--sub);
  text-decoration: none;
}
