.gameComponent-container--levelOneVirtual {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
  background: linear-gradient(
    90deg,
    var(--levelOneVirtualSub) 0%,
    var(--levelOneVirtualPrimary) 50%,
    var(--levelOneVirtualSub) 100%
  );
  color: var(--levelOneVirtualTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.1rem;
  white-space: pre-line;
  animation: gameComponent-container--levelOneVirtual-load 1.5s linear;
}

@keyframes gameComponent-container--levelOneVirtual-load {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.gameComponent-menuBtn--levelOneVirtual {
  position: absolute;
  z-index: 1;
  top: 0.5px;
  left: 0.5px;
  opacity: 0.5;
  padding: 1px 7px 3px;
  border: 1px solid var(--levelOneVirtualSub);
  background: var(--levelOneVirtualAdditional);
  color: var(--levelOneVirtualSub);
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  animation: gameComponent-menuBtn--levelOneVirtual-load 2.5s ease-in-out;
}

@keyframes gameComponent-menuBtn--levelOneVirtual-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@media (max-width: 900px) {
  .gameComponent-menuBtn--levelOneVirtual {
    top: 1px;
    left: 5%;
  }
}

.gameComponent-menuBtn--levelOneVirtual:hover {
  opacity: 1;
}

.gameComponent-menuBtn--levelOneVirtual:active {
  scale: 0.9;
}

.gameComponent-menuLink--levelOneVirtual {
  width: 200px;
  max-width: 85vw;
  padding: 3px 0 6px;
  border: 1px solid var(--levelOneVirtualTertiary);
  margin: 10px auto;
  background: var(--levelOneVirtualPrimary);
  color: var(--levelOneVirtualTertiary);
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.gameComponent-menuLink--levelOneVirtual:hover {
  border: 1px solid var(--levelOneVirtualPrimary);
  background: var(--levelOneVirtualTertiary);
  color: var(--levelOneVirtualPrimary);
  transition: 0.5s;
}

.gameComponent-mainImage--levelOneVirtual {
  width: 1024px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
  animation: gameComponent-mainImage--levelOneVirtual-load 0.5s ease-in-out;
}

@keyframes gameComponent-mainImage--levelOneVirtual-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.gameComponent-appearingMainImage--levelOneVirtual {
  width: 1024px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
  animation: gameComponent-appearingMainImage--levelOneVirtual 0.5s ease-in-out;
}

@keyframes gameComponent-appearingMainImage--levelOneVirtual {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gameComponent-topSlidingMainImage--levelOneVirtual {
  width: 1024px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
  animation: gameComponent-topSlidingMainImage--levelOneVirtual 0.5s ease-in-out;
}

@keyframes gameComponent-topSlidingMainImage--levelOneVirtual {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.gameComponent-additionalImage--levelOneVirtual {
  position: absolute;
  z-index: 1;
  top: 0.5px;
  right: 0.5px;
  width: 30px;
  border: 1px solid var(--levelOneVirtualAdditional);
  animation: gameComponent-additionalImage--levelOneVirtual-load 2.5s
    ease-in-out;
}

@keyframes gameComponent-additionalImage--levelOneVirtual-load {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .gameComponent-additionalImage--levelOneVirtual {
    top: 1.5px;
    right: 5.1%;
  }
}

.gameComponent-mainContent--levelOneVirtual {
  position: relative;
  width: 1024px;
  max-width: 90vw;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.3);
  animation: gameComponent-mainContent--levelOneVirtual-load 0.5s ease-in-out;
}

@keyframes gameComponent-mainContent--levelOneVirtual-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.gameComponent-mainContent--levelOneVirtual::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 2.5%;
  width: 95%;
  border-top: 2px solid var(--levelOneVirtualAdditional);
}

.gameComponent-subImage--levelOneVirtual {
  float: right;
  width: 200px;
  max-width: 35vw;
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  border-left: 1px solid var(--levelOneVirtualAdditional);
  margin-left: 1rem;
}

.gameComponent-subText--levelOneVirtual {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.gameComponent-characterImages--levelOneVirtual {
  float: left;
  display: flex;
  flex-flow: column nowrap;
}

.gameComponent-characterImage--levelOneVirtual {
  width: 200px;
  max-width: 35vw;
  border-right: 1px solid var(--levelOneVirtualAdditional);
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  margin-right: 1rem;
}

.gameComponent-appearingCharacterImage--levelOneVirtual {
  width: 200px;
  max-width: 35vw;
  border-right: 1px solid var(--levelOneVirtualAdditional);
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  margin-right: 1rem;
  animation: 5s gameComponent-appearingCharacterImage--levelOneVirtual linear;
}

@keyframes gameComponent-appearingCharacterImage--levelOneVirtual {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 200px;
  }
}

.gameComponent-additionalCharacterImage--levelOneVirtual {
  width: 200px;
  max-width: 35vw;
  border-right: 1px solid var(--levelOneVirtualAdditional);
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  margin-right: 1rem;
}

.gameComponent-text--levelOneVirtual {
  padding: 0 1rem;
}

.gameComponent-buttons--levelOneVirtual {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 900px;
  max-width: 90vw;
  padding: 1vh 0;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
  background: linear-gradient(
    0deg,
    var(--levelOneVirtualSub) 0%,
    var(--levelOneVirtualPrimary) 50%,
    var(--levelOneVirtualSub) 100%
  );
  animation: gameComponent-buttons--levelOneVirtual-load 0.5s ease-in-out;
}

@keyframes gameComponent-buttons--levelOneVirtual-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.gameComponent-buttons--levelOneVirtual::before {
  content: "";
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  width: calc(100% + 0.5rem);
  height: 15px;
  max-width: 95vw;
  border-top: 1px solid var(--levelOneVirtualAdditional);
  border-right: 1px solid var(--levelOneVirtualAdditional);
  border-left: 1px solid var(--levelOneVirtualAdditional);
}

.gameComponent-buttons--levelOneVirtual::after {
  content: "";
  position: absolute;
  right: -0.3rem;
  bottom: -0.3rem;
  width: calc(100% + 0.5rem);
  height: 15px;
  max-width: 95vw;
  border-right: 1px solid var(--levelOneVirtualAdditional);
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  border-left: 1px solid var(--levelOneVirtualAdditional);
}

.gameComponent-btn--levelOneVirtual {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--levelOneVirtualTertiary);
  margin: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--levelOneVirtualTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.gameComponent-btn--levelOneVirtual:hover {
  border: 1px solid var(--levelOneVirtualPrimary);
  background: var(--levelOneVirtualTertiary);
  color: var(--levelOneVirtualPrimary);
  transition: 0.5s;
}

.gameComponent-btn--levelOneVirtual:active {
  scale: 0.9;
}

.gameComponent-optionalBtn--levelOneVirtual {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--levelOneVirtualAdditional);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.gameComponent-optionalBtn--levelOneVirtual:hover {
  border: 1px solid var(--levelOneVirtualPrimary);
  background: var(--levelOneVirtualAdditional);
  color: var(--levelOneVirtualPrimary);
  transition: 0.5s;
}

.gameComponent-optionalBtn--levelOneVirtual:active {
  scale: 0.9;
}

.gameComponent-appearingSwitchBtn--levelOneVirtual {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--levelOneRealTertiary);
  margin: 0.75rem;
  background: linear-gradient(
    90deg,
    var(--levelOneRealSub) 0%,
    var(--levelOneRealPrimary) 50%,
    var(--levelOneRealSub) 100%
  );
  color: var(--levelOneRealTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  animation: gameComponent-appearingSwitchBtn-load 1.5s ease-in-out;
}

@keyframes gameComponent-appearingSwitchBtn-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gameComponent-appearingSwitchBtn--levelOneVirtual:hover {
  border: 1px solid var(--levelOneRealSub);
  background: linear-gradient(
    90deg,
    var(--levelOneRealSub) 0%,
    var(--levelOneRealTertiary) 50%,
    var(--levelOneRealSub) 100%
  );
  color: var(--levelOneRealSub);
  transition: 0.5s;
}

.gameComponent-appearingSwitchBtn--levelOneVirtual:active {
  scale: 0.9;
}

.gameComponent-switchBtn--levelOneVirtual {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--levelOneRealTertiary);
  margin: 0.75rem;
  background: linear-gradient(
    90deg,
    var(--levelOneRealSub) 0%,
    var(--levelOneRealPrimary) 50%,
    var(--levelOneRealSub) 100%
  );
  color: var(--levelOneRealTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.gameComponent-switchBtn--levelOneVirtual:hover {
  border: 1px solid var(--levelOneRealSub);
  background: linear-gradient(
    90deg,
    var(--levelOneRealSub) 0%,
    var(--levelOneRealTertiary) 50%,
    var(--levelOneRealSub) 100%
  );
  color: var(--levelOneRealSub);
  transition: 0.5s;
}

.gameComponent-switchBtn--levelOneVirtual:active {
  scale: 0.9;
}
