.gameComponent-container--prologue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
  background: linear-gradient(
    0deg,
    var(--prologueSub) 0%,
    var(--prologuePrimary) 50%,
    var(--prologueSecondary) 100%
  );
  color: var(--prologueTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.1rem;
  white-space: pre-line;
}

.gameComponent-menuBtn--prologue {
  position: absolute;
  z-index: 1;
  top: 0.5px;
  left: 0.5px;
  opacity: 0.5;
  padding: 1px 7px 3px;
  border: 1px solid var(--prologueSub);
  background: var(--prologueAdditional);
  color: var(--prologueSub);
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  animation: gameComponent-menuBtn--prologue-load 2.5s ease-in-out;
}

@keyframes gameComponent-menuBtn--prologue-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@media (max-width: 900px) {
  .gameComponent-menuBtn--prologue {
    top: 1px;
    left: 5%;
  }
}

.gameComponent-menuBtn--prologue:hover {
  opacity: 1;
}

.gameComponent-menuBtn--prologue:active {
  scale: 0.9;
}

.gameComponent-menuLink--prologue {
  width: 200px;
  max-width: 85vw;
  padding: 3px 0 6px;
  border: 1px solid var(--prologueTertiary);
  margin: 10px auto;
  background: var(--prologuePrimary);
  color: var(--prologueTertiary);
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.gameComponent-menuLink--prologue:hover {
  border: 1px solid var(--prologuePrimary);
  background: var(--prologueTertiary);
  color: var(--prologuePrimary);
  transition: 0.5s;
}

.gameComponent-mainImage--prologue {
  width: 1024px;
  max-width: 90vw;
  max-height: 40vh;
  object-fit: cover;
  border: 1px solid var(--prologueAdditional);
  margin-bottom: 1rem;
  animation: gameComponent-mainImage--prologue-load 0.5s ease-in-out;
}

@keyframes gameComponent-mainImage--prologue-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.gameComponent-mainContent--prologue {
  position: relative;
  width: 1024px;
  max-width: 90vw;
  border: 1px solid var(--prologueAdditional);
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.3);
  animation: gameComponent-mainContent--prologue-load 0.5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 2.5%;
    width: 95%;
    border-top: 2px solid var(--prologueAdditional);
  }
}

@keyframes gameComponent-mainContent--prologue-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.gameComponent-subImage--prologue {
  float: right;
  width: 200px;
  max-width: 35vw;
  border-bottom: 1px solid var(--prologueAdditional);
  border-left: 1px solid var(--prologueAdditional);
  margin-left: 1rem;
}

.gameComponent-subText--prologue {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--prologueAdditional);
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.gameComponent-characterImage--prologue {
  float: left;
  width: 200px;
  max-width: 35vw;
  border-right: 1px solid var(--prologueAdditional);
  border-bottom: 1px solid var(--prologueAdditional);
  margin-right: 1rem;
}

.disappearingImg--prologue {
  float: left;
  opacity: 0;
  width: 0;
  max-width: 0;
  border-right: 1px solid var(--prologueAdditional);
  border-bottom: 1px solid var(--prologueAdditional);
  margin-right: 1rem;
  animation: 5s disappearingImg--prologue ease;
}

@keyframes disappearingImg--prologue {
  0% {
    opacity: 1;
    width: 200px;
    max-width: 35vw;
    filter: blur(0) saturate(1);
  }

  50% {
    opacity: 1;
    width: 200px;
    max-width: 35vw;
    filter: blur(1px) saturate(5);
  }

  100% {
    opacity: 0;
    width: 0;
    max-width: 0;
    filter: blur(5px) saturate(10);
  }
}

.appearingImg--prologue {
  float: left;
  width: 200px;
  max-width: 35vw;
  border-right: 1px solid var(--prologueAdditional);
  border-bottom: 1px solid var(--prologueAdditional);
  margin-right: 1rem;
  animation: 5s appearingImg--prologue ease;
}

@keyframes appearingImg--prologue {
  0% {
    opacity: 0;
    width: 0;
    max-width: 0;
    filter: blur(5px);
  }

  50% {
    opacity: 0;
    width: 0;
    max-width: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    width: 200px;
    max-width: 35vw;
    filter: blur(0);
  }
}

.gameComponent-text--prologue {
  padding: 0 1rem;
}

.gameComponent-buttons--prologue {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 900px;
  max-width: 90vw;
  padding: 1vh 0;
  border: 1px solid var(--prologueAdditional);
  margin-bottom: 1rem;
  background: linear-gradient(
    0deg,
    var(--prologueSub) 0%,
    var(--prologuePrimary) 50%,
    var(--prologueSub) 100%
  );
  animation: gameComponent-buttons--prologue-load 0.5s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
  }

  &::before {
    top: -0.3rem;
    left: -0.3rem;
    width: calc(100% + 0.5rem);
    max-width: 95vw;
    border-top: 1px solid var(--prologueAdditional);
    border-right: 1px solid var(--prologueAdditional);
    border-left: 1px solid var(--prologueAdditional);
  }

  &::after {
    right: -0.3rem;
    bottom: -0.3rem;
    width: calc(100% + 0.5rem);
    max-width: 95vw;
    border-right: 1px solid var(--prologueAdditional);
    border-bottom: 1px solid var(--prologueAdditional);
    border-left: 1px solid var(--prologueAdditional);
  }
}

@keyframes gameComponent-buttons--prologue-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.gameComponent-btn--prologue {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--prologueTertiary);
  margin: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--prologueTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.gameComponent-btn--prologue:hover {
  border: 1px solid var(--prologuePrimary);
  background: var(--prologueTertiary);
  color: var(--prologuePrimary);
  transition: 0.5s;
}

.gameComponent-optionalBtn--prologue {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--prologueAdditional);
  margin: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--prologueAdditional);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.gameComponent-optionalBtn--prologue:hover {
  border: 1px solid var(--prologuePrimary);
  background: var(--prologueAdditional);
  color: var(--prologuePrimary);
  transition: 0.5s;
}

.gameComponent-glowingBtn--prologue {
  width: 250px;
  max-width: 90vw;
  min-height: 50px;
  max-height: 20vh;
  padding-bottom: 5px;
  border: 1px solid var(--prologueTertiary);
  margin: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--prologueTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  animation: gameComponent-glowingBtn--prologue 2s linear infinite;
}

@keyframes gameComponent-glowingBtn--prologue {
  0% {
    text-shadow: 0 0 0 var(--prologueTertiary);
  }

  50% {
    text-shadow: 0 0 20px var(--prologueTertiary);
  }
}

.gameComponent-glowingBtn--prologue:hover {
  box-shadow: 0 0 20px var(--prologueTertiary);
  background: var(--prologueTertiary);
  color: var(--prologuePrimary);
  transition: 0.5s;
}
