.startGameBtn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 10px 15px 12px;
  box-shadow: 2px 2px 2px var(--primary);
  background: radial-gradient(
    circle,
    var(--primary) 0%,
    var(--tertiary) 30%,
    var(--primary) 100%
  );
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 1s;
  animation: startGameBtn-load 1s ease-in;
}

@keyframes startGameBtn-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.startGameBtn:hover {
  box-shadow: 0 0 5px var(--secondary), 0 0 15px var(--secondary),
    0 0 25px var(--secondary), 0 0 100px var(--secondary);
  background: var(--secondary);
  color: var(--sub);
  -webkit-box-reflect: below 1px linear-gradient(transparent, var(--primary));
  transition: 1.5s;
}

.startGameBtn:active {
  scale: 0.9;
}

.startGameBtn span {
  position: absolute;
  display: block;
}

.startGameBtn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, transparent 50%, var(--secondary));
  animation: startGameBtn-top 3s ease-in-out infinite;
}

@keyframes startGameBtn-top {
  25% {
    opacity: 1;
    width: 100%;
  }

  30%,
  100% {
    opacity: 0;
  }
}

.startGameBtn span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
  background: linear-gradient(180deg, transparent 30%, var(--secondary));
  animation: startGameBtn-right 3s ease-in-out infinite;
}

@keyframes startGameBtn-right {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    opacity: 0;
    height: 100%;
  }
}

.startGameBtn span:nth-child(3) {
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(90deg, var(--secondary), transparent 50%);
  animation: startGameBtn-bottom 3s ease-in-out infinite;
}

@keyframes startGameBtn-bottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

.startGameBtn span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
  background: linear-gradient(180deg, var(--secondary), transparent 70%);
  animation: startGameBtn-left 3s ease-in-out infinite;
}

@keyframes startGameBtn-left {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
