.startGameBtn {
  position: relative;
  display: inline-block;
  padding: 10px 15px 12px;
  color: var(--secondary);
  background: radial-gradient(
    circle,
    var(--primary) 0%,
    var(--tertiary) 30%,
    var(--primary) 100%
  );
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  letter-spacing: 5px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid var(--primary);
  box-shadow: 2px 2px 2px var(--primary);
  animation: startGameBtn-load 1s ease-in;
}

@keyframes startGameBtn-load {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.startGameBtn:hover {
  background: var(--secondary);
  color: var(--sub);
  box-shadow: 0 0 5px var(--secondary), 0 0 25px var(--secondary),
    0 0 50px var(--secondary), 0 0 200px var(--secondary);
  -webkit-box-reflect: below 1px linear-gradient(transparent, var(--primary));
  transition: 1s;
  border: 1px solid transparent;
}

.startGameBtn:active {
  scale: 0.9;
}

.startGameBtn span {
  position: absolute;
  display: block;
}

.startGameBtn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, transparent 50%, var(--secondary));
  animation: animateTop 3s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

.startGameBtn span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
  background: linear-gradient(180deg, transparent 30%, var(--secondary));
  animation: animateRight 3s ease-in-out infinite;
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

.startGameBtn span:nth-child(3) {
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(90deg, var(--secondary), transparent 50%);
  animation: animateBottom 3s ease-in-out infinite;
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

.startGameBtn span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 0;
  background: linear-gradient(180deg, var(--secondary), transparent 70%);
  animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
