.menuModal-container--levelOneReal {
  width: 300px;
  height: 350px;
  max-width: 80vw;
  max-height: 80vh;
  padding-top: 1vh;
  margin-top: 30vh;
  background: linear-gradient(
    90deg,
    var(--levelOneRealPrimary) 0%,
    var(--levelOneRealSub) 50%,
    var(--levelOneRealPrimary) 100%
  );
  color: var(--levelOneRealTertiary);
  text-align: center;
  animation: menuModal-container--levelOneReal-load 500ms ease-in-out;
}

@keyframes menuModal-container--levelOneReal-load {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-height: 700px) {
  .menuModal-container--levelOneReal {
    margin-top: 10px;
  }
}

.menuModal-container--levelOneReal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.menuModal-title--levelOneReal {
  margin: 20px auto;
  text-shadow: 3px 3px 3px var(--levelOneRealSub);
}

.menuModal-nav--levelOneReal {
  display: flex;
  flex-flow: column nowrap;
}

.menuModal-closeBtn--levelOneReal {
  width: 200px;
  max-width: 85vw;
  padding: 3px 0 6px;
  border: 1px solid var(--levelOneRealTertiary);
  margin: 10px auto;
  background: var(--levelOneRealPrimary);
  color: var(--levelOneRealTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.menuModal-closeBtn--levelOneReal:hover {
  border: 1px solid var(--levelOneRealPrimary);
  background: var(--levelOneRealTertiary);
  color: var(--levelOneRealPrimary);
  transition: 0.5s;
}
