/* Fonts - Title */
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");

/* Fonts - Text */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;700&display=swap");

/* Variables - Colors */
:root {
  --startScreen-section--primary: #01012b;
  --startScreen-section--secondary: #05d9e8;
  --startScreen-section--tertiary: #005678;
  --startScreen-section--additional: #092047;
  --startScreen-section--sub: #ff2a6d;
}

/* All pages styles */
html,
body {
  margin: 0;
}

/* Start Screen */
.startScreen-section {
  text-align: center;
  background: radial-gradient(circle, var(--startScreen-section--primary) 0%, var(--startScreen-section--tertiary) 45%, var(--startScreen-section--primary) 100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 5vh 0 0;
}

.startScreen-section-img {
  max-height: 50vh;
  max-width: 90vw;
  border: 2px solid var(--startScreen-section--sub);
  padding: 2px;
  background-color: var(--startScreen-section--secondary);
}

.startScreen-section-title,
.startScreen-section-subTitle,
.startScreen-section-closingTitle {
  font-family: "Tektur", cursive;
  font-size: 2.5rem;
  color: var(--startScreen-section--secondary);
  text-shadow: 1px 1px var(--startScreen-section--sub);
  letter-spacing: 2px;
  margin-bottom: 0;
}

.startScreen-section-subTitle,
.startScreen-section-closingTitle {
  color: var(--startScreen-section--sub);
  text-shadow: 1px 1px var(--startScreen-section--secondary);
  margin-top: 1vh;
  position: relative;
}

.startScreen-section-buttons {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;
}

.startScreen-section-buttons-btn {
  position: relative;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 2rem;
  color: var(--startScreen-section--secondary);
  background-color: var(--startScreen-section--additional);
  text-decoration: none;
  border: 1px solid var(--startScreen-section--secondary);
  margin: 10px auto;
  width: 150px;
  height: 50px;
  transition: 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in-out;
  }

  &::before {
    top: -5px;
    left: -5px;
    border-top: 1px solid var(--startScreen-section--secondary);
    border-left: 1px solid var(--startScreen-section--secondary);
  }

  &::after {
    right: -5px;
    bottom: -5px;
    border-bottom: 1px solid var(--startScreen-section--secondary);
    border-right: 1px solid var(--startScreen-section--secondary);
  }

  &:hover::before,
  &:hover::after {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
  }
}

.startScreen-section-buttons-btn:hover {
  color: var(--startScreen-section--sub);
  border: 1px solid var(--startScreen-section--sub);
  transition: 0.3s ease-in-out;
}

.startScreen-section-buttons-btn:active {
  scale: 0.9;
}

.startScreen-section-closingTitle {
  position: relative;
  right: 7.25rem;
}

/*  */

.intro {
  font-size: 1.2rem;
}

.text {
  font-size: 1.2rem;
  white-space: pre-line;
}

.subText {
  font-size: 1.2rem;
  font-style: italic;
}

.options {
  display: flex;
  flex-flow: column nowrap;
}

.option {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 5px auto;
  max-width: 90vw;
  width: 250px;
}
