body {
  padding: 1vw;
}

.intro {
  font-size: 1.2rem;
}

.text {
  font-size: 1.2rem;
  white-space: pre-line;
}

.subText {
  font-size: 1.2rem;
  font-style: italic;
}

.options {
  display: flex;
  flex-flow: column nowrap;
}

.option {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 5px auto;
  max-width: 90vw;
  width: 250px;
}
