/* Fonts - Title */
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");

/* Fonts - Main */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;700&display=swap");

:root {
  /* Variables - Main Colors */
  --primary: #01012b;
  --secondary: #05d9e8;
  --tertiary: #005678;
  --additional: #092047;
  --sub: #ff2a6d;

  /* Variables - Prologue Colors */
  --prologuePrimary: #393f5f;
  --prologueSecondary: #6a7e6a;
  --prologueTertiary: #ffe69d;
  --prologueAdditional: #ff9760;
  --prologueSub: #361409;

  /* Variables - Level One Colors */
  --levelOneRealPrimary: #8f704b;
  --levelOneRealSecondary: #d0902f;
  --levelOneRealTertiary: #fff69f;
  --levelOneRealAdditional: #fdd870;
  --levelOneRealSub: #351409;

  /* Variables - Level One - Virtual Colors */
  --levelOneVirtualPrimary: #575267;
  --levelOneVirtualSecondary: #a0ffe3;
  --levelOneVirtualTertiary: #65dc98;
  --levelOneVirtualAdditional: #8d8980;
  --levelOneVirtualSub: #222035;

  /* Variables - Level One - Loophole Colors */
  --levelOneLoopholePrimary: #01012b;
  --levelOneLoopholeSecondary: #005678;
  --levelOneLoopholeTertiary: #05d9e8;
  --levelOneLoopholeAdditional: #ff2a6d;
  --levelOneLoopholeSub: #092047;
}

/* All pages styles */
html,
body {
  margin: 0;
}
