.rpsGame-container {
  display: flex;
  flex-flow: column nowrap;
  width: 1024px;
  max-width: 90vw;
  text-align: center;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
}

.rpsGame-mainContent {
  display: flex;
  flex-flow: column nowrap;
}

.rpsGame-btn {
  width: 45px;
  height: 45px;
  padding: 0 45px 45px 0;
  margin: 5px;
  font-size: 2rem;
}

@keyframes rpsGame-article-slide {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
