.rpsGame-container {
  display: flex;
  flex-flow: column nowrap;
  width: 1024px;
  max-width: 90vw;
  text-align: center;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-bottom: 1rem;
  background: linear-gradient(
    0deg,
    var(--levelOneVirtualSub) 0%,
    var(--levelOneVirtualPrimary) 50%,
    var(--levelOneVirtualSub) 100%
  );
}

.rpsGame-playersInfo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.rpsGame-playerInfo {
  display: flex;
  align-items: center;
}

.rpsGame-opponentInfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.rpsGame-playerImg {
  width: 100px;
  max-width: 30vw;
  border-right: 1px solid var(--levelOneVirtualAdditional);
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
}

.rpsGame-playerScore {
  width: 30px;
  padding-bottom: 8px;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: bold;
}

.rpsGame-opponentImg {
  width: 100px;
  max-width: 30vw;
  border-bottom: 1px solid var(--levelOneVirtualAdditional);
  border-left: 1px solid var(--levelOneVirtualAdditional);
}

.rpsGame-opponentScore {
  width: 30px;
  padding-bottom: 8px;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: bold;
}

.rpsGame-mainContent {
  display: flex;
  flex-flow: column nowrap;
}

.rpsGame-rollsImages {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  animation: rpsGame-rollsImages-load 0.25s ease-in;
}

@keyframes rpsGame-rollsImages-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.rpsGame-playerRollImg {
  width: 100px;
  max-width: 35vw;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin: 2rem 0.25rem;
}

@keyframes rpsGame-playerRollImg {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  90% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.rpsGame-opponentRollImg {
  width: 100px;
  max-width: 35vw;
  border: 1px solid var(--levelOneVirtualAdditional);
  margin: 0.25rem;
}

@keyframes rpsGame-opponentRollImg {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  90% {
    opacity: 1;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.rpsGame-rollBtn {
  width: 45px;
  height: 45px;
  padding: 0 45px 45px 0;
  border: 1px solid var(--levelOneVirtualTertiary);
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.rpsGame-rollBtn:hover {
  scale: 1.1;
}

.rpsGame-rollBtn:active {
  scale: 0.9;
}

.rpsGame-startBtn {
  width: 110px;
  max-width: 45vw;
  padding: 5px;
  border: 1px solid var(--levelOneVirtualTertiary);
  margin: 1rem auto;
  background: rgba(0, 0, 0, 0.5);
  color: var(--levelOneVirtualTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.rpsGame-startBtn:hover {
  scale: 1.1;
}

.rpsGame-startBtn:active {
  scale: 0.9;
}

.rpsGame-restartBtn {
  width: 110px;
  max-width: 45vw;
  padding: 5px;
  border: 1px solid var(--levelOneVirtualTertiary);
  margin: 1rem auto;
  background: rgba(0, 0, 0, 0.5);
  color: var(--levelOneVirtualTertiary);
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.rpsGame-restartBtn:hover {
  scale: 1.1;
}

.rpsGame-restartBtn:active {
  scale: 0.9;
}
